.nav-bar {
  background-color: var(--primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 8px 16px;
  box-sizing: border-box;
}

.nav-bar__brand {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-list__item {
  text-decoration: none;
  color: inherit;
  padding: 8px 16px;
  box-sizing: border-box;
}

.menu-list__item:hover {
  border-radius: 8px;
  background-color: white;
  color: var(--primary);
}
